  <!-- Page Wrapper -->
  <div id="wrapper">
	<div style="background-color: #254dc0;" ng-include="'./view/c-sidebar.html?nran=200'"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
		<div ng-include="'./view/c-topbar.html?nran=200'"></div>
<!---------------------------------------------------------- Begin Page Content ---------------------------------------------------------------->
<!---------------------------------------------------------- Begin Page Content ---------------------------------------------------------------->
<!---------------------------------------------------------- Begin Page Content ---------------------------------------------------------------->
        
        <div class="container-fluid">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" ng-bind-html="breadcrumb">
			  </ol>
			</nav>
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Hasil Affiliasi Anda</h1>
          </div>
		  <div class="row">
			  <div class="col">
				  <div class="card mb-3">
					<div class="card-body text-primary">
					  <p>Silhakan gunakan link ini untuk mendapatkan benefit affiliasi 50%. </p>
					  <!--
					  <ul>
						<li>
							50% untuk <= 300 affiliasi
						</li>
						<li>
							60% untuk > 300 affiliasi
						</li>
						<li>
							70% untuk > 500 affiliasi
						</li>
					  </ul>
					  -->
					  <b>{{link_affiliasi}}</b>
					</div>
				  </div>
			  </div>
		  </div>
		  <div class="row">
			<div class="col">
				<form class="form-inline float-right">
				  <div class="form-group mr-sm-3 mb-2">
					<select class="form-control form-control-sm" ng-model="data_filter.date_type">
						<option value="by_date">By Date</option>
						<option value="by_month">By Month</option>
					</select>
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_month'">
					<select class="form-control form-control-sm" ng-model="data_filter.bulan">
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">Maret</option>
						<option value="4">April</option>
						<option value="5">Mei</option>
						<option value="6">Juni</option>
						<option value="7">Juli</option>
						<option value="8">Agustus</option>
						<option value="9">September</option>
						<option value="10">Oktober</option>
						<option value="11">November</option>
						<option value="12">Desember</option>
					</select>
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_month'">
					<select class="form-control form-control-sm" ng-model="data_filter.tahun">
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
					</select>
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_date'">
					<label for="tanggal_mulai" class="mr-2">Tanggal Mulai :</label>
					<input type="date" class="form-control form-control-sm" id="tanggal_mulai" value="" ng-model="data_filter.tanggal_mulai">
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_date'">
					<label for="tanggal_akhir" class="mr-2">Tanggal Akhir :</label>
					<input type="date" class="form-control form-control-sm" id="tanggal_akhir" value="" ng-model="data_filter.tanggal_akhir">
				  </div>
				  <button type="button" class="btn btn-sm btn-primary mr-sm-3 mb-2" ng-click="loadFilterData();"><i class="fa fa-filter"></i> Filter</button>
				  <button type="button" class="btn btn-sm btn-primary mb-2" ng-click="loadDataAffiliasi();"><i class="fa fa-eye"></i> Show All</button>
				</form>
			</div>
		  </div>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List Owner</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
					  <th>Tanggal Daftar</th>
                      <th>Email</th>
					  <th>Nama Lengkap</th>
					  <th>No Telepon</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
					  <th>Tanggal Daftar</th>
                      <th>Email</th>
					  <th>Nama Lengkap</th>
					  <th>No Telepon</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr ng-repeat="x in data_affiliasi">
                      <td>{{ $index + 1 }}</td>
					  <td>{{x.tanggal_input}}</td>
                      <td>{{x.email}}</td>
					  <td>{{x.nama_lengkap}}</td>
					  <td>{{x.telepon}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        
        </div>
        <!-- /.container-fluid -->
		
<!------------------------------------------------------------ End Page Content ------------------------------------------>
<!------------------------------------------------------------ End Page Content ------------------------------------------>
<!------------------------------------------------------------ End Page Content ------------------------------------------>
      </div>
      <!-- End of Main Content -->
	  <div ng-include="'./view/c-footer-sticky.html?nran=200'"></div>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
<div ng-include="'./view/c-additional.html?nran=200'"></div>

<script>
$(document).ready(function(){
	
});
</script>