  <!-- Page Wrapper -->
  <div id="wrapper">
	<div style="background-color: #254dc0;" ng-include="'./view/c-sidebar.html?nran=200'"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
		<div ng-include="'./view/c-topbar.html?nran=200'"></div>
<!---------------------------------------------------------- Begin Page Content ---------------------------------------------------------------->
<!---------------------------------------------------------- Begin Page Content ---------------------------------------------------------------->
<!---------------------------------------------------------- Begin Page Content ---------------------------------------------------------------->
        
        <div class="container-fluid">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" ng-bind-html="breadcrumb">
			  </ol>
			</nav>
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Laporan Report</h1>
          </div>
		  <div class="row">
			<div class="col-12">
				<form class="form-inline float-right">
				  <div class="form-group mr-sm-3 mb-2">
					<select class="form-control form-control-sm" ng-model="data_filter.date_type">
						<option value="by_date">By Date</option>
						<option value="by_month">By Month</option>
					</select>
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_month'">
					<select class="form-control form-control-sm" ng-model="data_filter.bulan">
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">Maret</option>
						<option value="4">April</option>
						<option value="5">Mei</option>
						<option value="6">Juni</option>
						<option value="7">Juli</option>
						<option value="8">Agustus</option>
						<option value="9">September</option>
						<option value="10">Oktober</option>
						<option value="11">November</option>
						<option value="12">Desember</option>
					</select>
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_month'">
					<select class="form-control form-control-sm" ng-model="data_filter.tahun">
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
					</select>
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_date'">
					<label for="tanggal_mulai" class="mr-2">Tanggal Mulai :</label>
					<input type="date" class="form-control form-control-sm" id="tanggal_mulai" value="" ng-model="data_filter.tanggal_mulai">
				  </div>
				  <div class="form-group mr-sm-3 mb-2" ng-if="data_filter.date_type == 'by_date'">
					<label for="tanggal_akhir" class="mr-2">Tanggal Akhir :</label>
					<input type="date" class="form-control form-control-sm" id="tanggal_akhir" value="" ng-model="data_filter.tanggal_akhir">
				  </div>
				  <button type="button" class="btn btn-sm btn-primary shadow-sm mr-sm-3 mb-2" ng-click="loadFilterData();"><i class="fa fa-filter"></i> Filter</button>
				  <button type="button" class="btn btn-sm btn-primary shadow-sm mb-2" ng-click="loadAllData();"><i class="fa fa-eye"></i> Show All</button>
				</form>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
				<div class="card">
				  <div class="card-header">
					General Report
					<button type="button" class="btn btn-sm btn-info shadow-sm float-right" ng-click="loadViewNg('/report/generate',{action:'loadDataReportByFilter', data_filter:data_filter});"><i class="fas fa-file-alt"></i> Generate Report</button>
				  </div>
				  <div class="card-body">
					<div class="row">
						<div class="col-3">
							<h2>{{formatRupiah(quick_report.total_penjualan)}}</h2>
							<p>Total Penjualan</p>
						</div>
						<div class="col-3">
							<h2>{{formatRupiah(quick_report.total_keuntungan)}}</h2>
							<p>Total Keuntungan</p>
						</div>
						<div class="col-3">
							<h2>{{formatRupiah(quick_report.total_nilai_produk)}}</h2>
							<p>Total Nilai Produk</p>
						</div>
						<div class="col-3">
							<h2>{{formatRupiah(quick_report.total_expense)}}</h2>
							<p>Total Expense</p>
						</div>
						<div class="col-3">
							<h2>{{formatRupiah(quick_report.total_ongkir)}}</h2>
							<p>Total Ongkir</p>
						</div>
						<div class="col-3">
							<h2>{{formatRupiah(quick_report.total_diskon)}}</h2>
							<p>Total Diskon</p>
						</div>
						<div class="col-3">
							<h2>{{(quick_report.jumlah_order)}}</h2>
							<p>Jumlah Order</p>
						</div>
						<div class="col-3">
							<h2>{{(quick_report.jumlah_item_terjual)}}</h2>
							<p>Jumlah Item Terjual</p>
						</div>
					</div>
				  </div>
				</div>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
				&nbsp;
			</div>
		  </div>
		  <div class="row">
			<div class="col">
				<div class="card text-center">
				  <div class="card-header">
					Grafik Penjualan
				  </div>
				  <div class="card-body">
					  <div class="chart-area">
						<canvas id="myChartPenjualan"></canvas>
					  </div>
					  <hr>
					  &nbsp;
				  </div>
				</div>
			</div>
		  </div>
		  <br/>
		  <div class="row">
			<div class="col">
				<div class="card text-center">
				  <div class="card-header">
					Grafik Keuntungan
				  </div>
				  <div class="card-body">
					  <div class="chart-area">
						<canvas id="myChartKeuntungan"></canvas>
					  </div>
					  <hr>
					  &nbsp;
				  </div>
				</div>
			</div>
		  </div>


        
        </div>
        <!-- /.container-fluid -->
		
<!------------------------------------------------------------ End Page Content ------------------------------------------>
<!------------------------------------------------------------ End Page Content ------------------------------------------>
<!------------------------------------------------------------ End Page Content ------------------------------------------>
      </div>
      <!-- End of Main Content -->
	  <div ng-include="'./view/c-footer-sticky.html?nran=200'"></div>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
<div ng-include="'./view/c-additional.html?nran=200'"></div>

<!-- Modal -->
<div class="modal" id="ModalReport" tabindex="-1" role="dialog" aria-labelledby="ModalReportLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	<form>
      <div class="modal-header">
        <h5 class="modal-title" id="ModalReportLabel">Form Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="row">
			  <div class="form-group col">
				<label for="Report">Report</label>
				<select class="form-control" id="Report" placeholder="Input report" ng-model="Report.Report">
					<option value="">-Pilih-</option>
				</select>
			  </div>
		  </div>
		  <div class="form-group">
			<label for="Diskon">Diskon</label>
			<input type="number" class="form-control" id="Diskon" placeholder="Input diskon" ng-model="Report.Diskon">
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
	</form>
    </div>
  </div>
</div>
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';
</script>